body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 18px;
}

a:link {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

header {
    font-size: 24px;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    min-width: 100%;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-top {
    display: flex;
    justify-content: space-between;
    margin: 20px 125px;
}

.header-links {
    display: inline-block;
    align-items: center;
    margin: 0px 50px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    margin: 80px 125px;
}



.header-content-left {
    width: 400px;
}

.header-content-right {
    display: flex;
    background-color: lightslategray;
    width: 400px;
    height: 200px;
}

button {
    background-color: #3882F6;
    border-color: #3882F6;
    width: 75px;
    height: 25px;
    color: #F9FAF8;
    border-radius: 6px;
}

.header-img {
    margin: 150px 0px;
}
.body-1 {
    min-height: 600px;
    display: flex;
    flex-direction: column;
}

.body-1-header {
    text-align: center;
}

.image-subtext {
    width: 150px;
}

.b1-img {
    background-color: white;
    height: 150px;
    width: 150px;
}

.body-1-content {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 50px;
}

.body-2 {
    min-height: 500px;
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: light;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote {
    text-align: left;
    margin: 0px 100px;
    color: #1F2937;
    font-style: italic;
}

.quote-author {
    text-align: right;
    margin: 0px 150px;
}
.body-3 {
    min-height: 30vh;
    background-color: #3882F6;
    display: flex;
    width: 1200px;
    margin: 150px 0px;
    height: 200px;
    border-radius: 3%;
    justify-content: center;
    align-items: center;
    gap: 200px;
}
.b3-left {
    color: #F9FAF8
}

.b3-button {
    border-color: #F9FAF8
}


.footer {
    background-color: #1F2937;
    min-width: 100%;
    margin-top: auto;
    text-align: center;
    color: #F9FAF8
}