body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 18px;
}

a:link {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

header {
    font-size: 24px;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    min-width: 100%;
    min-height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-top {
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

.header-links {
    display: inline-block;
    align-items: center;
    margin: 0px 50px;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

.body-1 {
    min-height: 45vh;
}

.body-2 {
    min-height: 40vh;
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: light;
}

.body-3 {
    min-height: 30vh;
    background-color: #3882F6;

}

.footer {
    background-color: #1F2937;
    min-width: 100%;
    margin-top: auto;
}